@model IEnumerable<MisGatitos.Models.Resultado>
@using MisGatitos.Models
@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Buscador de Gatitos</h1>
    </section>

    <div class="row">
       <form>
           <div>
               <div class="row">
                   <div class="col-md-4 pb-4">
                       @Html.DropDownList("CatBreeds", ViewBag.CatBreeds as SelectList, "- Selecciona la raza deseada -", new {@class="form-select w-100", @id= "CatBreeds",@style="max-width:100%", @Required="True" })
                   </div>
                   <div class="col-md-4 pb-4">
                       <input name="limit" required class="form-control" type="number" value="@ViewBag.limit" style="max-width:100%" placeholder="Límite de resultados"/>
                   </div>
                   <div class="col-md-4 pb-4">
                       <button class="btn btn-primary w-100" type="submit">Buscar</button>
                   </div>
               </div>
               <div class="card-group">
                   @foreach (Resultado item in Model)
                   {
                       <div class="col-md-3 mb-3">
                           <div class="card">
                               <div class="card-body">
                                    <img src="@item.url" alt="@item.id" class="w-100" />
                               </div>
                           </div>
                       </div>
                   }
               </div>
           </div>
       </form>
    </div>
</main>