@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Buscador de Gatitos</h1>
    </section>

    <div class="row">
       <form>
           <div>
               <div class="row">
                   <div class="col-md-4 pb-4">
                       @Html.DropDownList("CatBreeds", ViewBag.CatBreeds as SelectList, "- Selecciona la raza deseada -")
                   </div>
               </div>
           </div>
       </form>
    </div>
</main>